<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prinsafan.eventmanagement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventManagement">
        <activity android:name="com.prinsafan.eventmanagement.GuestList">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".DashboardActive"/></activity>
        <activity android:name="com.prinsafan.eventmanagement.EventList" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".DashboardActive"/></activity>
        <activity android:name="com.prinsafan.eventmanagement.CreateGuest" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".DashboardActive"/></activity>
        <activity android:name="com.prinsafan.eventmanagement.CreateEvent" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".DashboardActive"/></activity>
        <activity android:name="com.prinsafan.eventmanagement.CreateUser" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".DashboardActive"/></activity>
        <activity android:name="com.prinsafan.eventmanagement.DashboardActive" />
        <activity android:name="com.prinsafan.eventmanagement.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>